<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782012103064-p1ujl3vn65k63got2nquvrnjde3u8sdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782012103064-p1ujl3vn65k63got2nquvrnjde3u8sdo</string>
	<key>API_KEY</key>
	<string>AIzaSyB_AHG7Ubar4QeAtGD8M2t5zEfayDISHY0</string>
	<key>GCM_SENDER_ID</key>
	<string>782012103064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ucundinamarca.primerproyecto</string>
	<key>PROJECT_ID</key>
	<string>linea-de-profundizacion-51602</string>
	<key>STORAGE_BUCKET</key>
	<string>linea-de-profundizacion-51602.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782012103064:ios:3b5822d5c6604efdc813ed</string>
</dict>
</plist>